:root {
    --BannerHeight: 50px;
    
  }

#NotificationBarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(50, 49, 57);
  width: 100%;
  height: var(--BannerHeight);
  position: sticky;
  top: 0px;
  z-index: 2;
}

#NotificationBarText p, #NotificationBarCloseBtn p{
  font-weight: 700;
  color: white;
  font-size: x-large;
  font-weight: 500;
  font-family: 'Trebuchet MS', sans-serif;
}

#NotificationBarCloseBtn {
  position: absolute;
  display:flex;
  justify-content: center;
  align-items: center;
  right:10px;
  margin-left: auto;
  cursor: pointer;
  z-index: 3;
  border-radius: 50%;
  width: 27px;
  height: 27px;
  border: 2px solid #fff;
}

#NotificationBarCloseBtn > p {
  line-height: 0;
}

.Disabled{
  display: none;
  background-color:wheat;
}

.circle {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  padding: 10px;
  border: 3px solid #fff;
  z-index: 4;
}

@media only screen and (max-width: 600px) {
  #NotificationBarText{
    font-size: large;
}
}

@media only screen and (max-width: 450px) {
  #NotificationBarText{
    font-size: medium;
}
}

@media only screen and (max-width: 420px) {
  #NotificationBarText{
    font-size: small  ;
    /* here text should just go double spaced */
}
} 

@media only screen and (max-width: 349px) {
  #NotificationBarText{
    font-size: x-small  ;
}
} 
