:root {
    --BannerHeight: 50px;
    
  }

#NotificationBarContainer{
background-color: rgb(50, 49, 57);
width: 100%;
height: var(--BannerHeight);
position: sticky;
top: 0px;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
z-index: 2;
}

#NotificationBarText{
    font-weight: 700;
    color: white;
    font-size: x-large;
    font-weight: 500;
    font-family: 'Trebuchet MS', sans-serif;
}

#NotificationBarCloseBtn{
position: fixed;
right: 20px;
top: 3px;
cursor: pointer;
z-index: 3;
}

#NotificationBarCloseBtn p{
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: x-large;
    }

.Disabled{
  display: none;
background-color:wheat;
}
      
@media only screen and (max-width: 600px) {
  #NotificationBarText{
    font-size: large;
}
}

@media only screen and (max-width: 450px) {
  #NotificationBarText{
    font-size: medium;
}
}

@media only screen and (max-width: 420px) {
  #NotificationBarText{
    font-size: small  ;
    /* here text should just go double spaced */
}
} 

@media only screen and (max-width: 349px) {
  #NotificationBarText{
    font-size: x-small  ;
}
} 
