:root {

    --paleyellow: #F7ECBC;
    --brown: #5A3D30;
    --palepink: #F9CAD6;
    --pink: #D3778F;
    --darkpink: #4F1F2B;
    --dark:#1D1D33 ;
    

    --try1: #42ab21;
  }

  /* color: var(--paleyellow); */